*.class
*.docx
*.doc
*.zip
*.bat
*.cmd
*.pyc
*.py
*.txt
*.txt~
*.cfg~
*.sh
*.properties
*.lzma
*.cfg
*.lang

# Package Files #
*.jar
*.war
*.ear

# Base Folders #
Build/*

# 1.7.2 Folders #
Minecraft/1.7.2/.gradle/*
Minecraft/1.7.2/.settings/*
Minecraft/1.7.2/bin/*
Minecraft/1.7.2/build/*
Minecraft/1.7.2/.gradle/*
Minecraft/1.7.2/gradle/*
Minecraft/1.7.2/eclipse/*
Minecraft/1.7.2/.classpath
Minecraft/1.7.2/.project
Minecraft/1.7.2/gradlew
Minecraft/1.7.2/build.gradle

# Do Not Ignore #
!/Assemble.py